
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvoiceCreator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvoiceCreator.styles.css" asp-append-version="true" />
    <style>
        #indicator {
            left: @ViewBag.indicatorLeft;
            opacity: @ViewBag.indicatorOpacity;
        }

        .navbar a.nav-item:nth-child(@ViewBag.selectedPage) {
            background: -webkit-linear-gradient(130deg, #000, #000);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>
<body>
    <div class="invoice-creator-wrapper">
        <header>
            <div class="heading-title">YOU OWE ME @@BBD</div>
            <nav class="navbar">
                <div class="main-wrapper">
                    <a class="nav-item" asp- asp-area="" asp-controller="Invoice" asp-action="ViewTransaction">View Invoices</a>
                    <a class="nav-item" asp-area="" asp-controller="Invoice" asp-action="CreateInvoice">Create Invoice</a>
                    <a class="nav-item" asp-area="" asp-controller="Student" asp-action="AddStudent">Add Student</a>
                    <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">Add Level-Up</a>
                    <div id="indicator"></div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - InvoiceCreator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
