@model List<InvoiceCreator.Models.StudentModel>;
    

@{
    ViewData["Title"] = "Create Invoice";
    IEnumerable<StudentModel> students = ViewData["Students"] as IEnumerable<StudentModel>;
    IEnumerable<LevelUpModel> levelups = ViewData["LevelUps"] as IEnumerable<LevelUpModel>;
    IEnumerable<QuestionDifficultyModel> questionDifficulties = ViewData["QuestionDifficulties"] as IEnumerable<QuestionDifficultyModel>;
}


<div class="text-center">
    <div class="create-invoice-wrapper">
        @using (Html.BeginForm("AddInvoice", "Invoice", FormMethod.Post))
        {
            
        <div class="section">
            <!--<form>-->
                <label for="email"><h5>Student</h5></label>
                <select onchange="this.value == 'addNew' ? window.location = '/Student/AddStudent/' : null" name="student">
                    <option selected disabled>Select Student</option>                                  
                    @foreach (var student in students)
                    {
                        <option>@student.Id. @student.FirstName @student.LastName (@student.gradYear)</option>
                    }

                    <option disabled>--------------------</option>
                    <option value="addNew">Add new student</option>
                </select>
            <!--</form>-->
        </div>

        <div class="section">
            <h5>Question</h5>

            <!--<form>-->
                <div class="form-group">
                    <label for="questionDifficulty">Difficulty</label>
                        <select id="questionDifficulty" name="difficulty">
                        @foreach (var qd in questionDifficulties)
                        {
                                <option>@qd.Id. @qd.DifficultyName (@qd.DifficultyDescription) - R @qd.Cost</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="questionLevelup">Level Up</label>
                        <select id="questionLevelup" onchange="this.value == 'addNew' ? window.location = '/LevelUp/AddLevelUp/' : null" name="levelupName">
                        <option selected disabled>Select Level Up</option>
                        @foreach (var levelup in levelups)
                        {
                            <option>@levelup.Id. @levelup.CourseName @levelup.Start.ToString("yyyy/MM/dd") - @levelup.End.ToString("yyyy/MM/dd")</option>
                        }
                        <option disabled>--------------------</option>
                        <option value="addNew">Add new Level-Up</option>
                    </select>
                </div>
            <!--</form>-->

            <!--<form>-->
                <div class="form-group question">
                    <label for="questionDescription">Question Description</label>
                    <textarea id="questionDescription" placeholder="e.g. What is 2 + 2?" name="question"></textarea>
                </div>
            <!--</form>-->
        </div>
        
        <div class="section">
            <!--<form>-->
                <label for="sendEmail"><h5>Send an email to the student?</h5></label>
                <div class="checkbox-wrapper">
                    <input class='tgl tgl-ios' id='sendEmail' type='checkbox' checked name="shouldSend" />
                    <label class='tgl-btn' for='sendEmail'></label>
                </div>
            <!--</form>-->
        </div>

        <button type="submit" class="submit-btn">Submit</button>
        }
    </div>
</div>